*~
*.#*
emacs-dir/ac-comphist.dat
emacs-dir/auto-save-list/*
emacs-dir/config-el/.authinfo
emacs-dir/config-el/color-theme-6.6.0/*
emacs-dir/config-el/erc-auth.el
emacs-dir/config-el/themes/*
emacs-dir/elpa/*
emacs-dir/eshell/*
emacs-dir/onhold/*
emacs-dir/themes/*
emacs-dir/tramp
emacs-dir/url/*
emacs-dir/var/*

stumpwm-dir/#stumpwmrc.lisp#

conkeror-dir/#conkerorrc#
